@font-face {
    font-family: "Noto Color Emoji";
    src: url(../assets/NotoColorEmoji.ttf);
}

:root {
    --bg: #fff;
    --bg1: #fff9;
    --blur: blur(10px);
    --hover-color: #dfdfdf;
    --box-shadow: 0 0 4px #0002;
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --border-radius: 8px;
    --height: 40px;
    --color: #000;
    --font-size: 16px;
    --main-bar-size: 24px;
    --icon-color: none;
    --icon-color1: invert(1);
    --b-button: 32px;
    --o-padding: 8px;
    --font-size: 16px;
    --font-family: serif;
    --size0: 32px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --bg1: #000a;
        --color: #cacaca;
        --hover-color: #303030;
        --box-shadow: 0 0 4px #fff7;
        & .icon {
            filter: invert(0.78);
        }
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #444;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    kbd {
        box-shadow: 0 5px #fff4;
        background: linear-gradient(315deg, #191919, #000);
    }
}

html,
body {
    margin: 0;
    font-family: sans-serif;
    color: var(--color);
    background: var(--bg);
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    filter: var(--icon-color);
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    height: 8px;
    width: 8px;
    background-color: #0000;
}
::-webkit-scrollbar-corner {
    background-color: #0000;
}

button {
    outline: none;
    color: var(--color);
    font-family: var(--main-font);
    border-radius: var(--border-radius);
    background-color: var(--bg);
    height: var(--height);
    border: none;
    margin: 0px;
    padding: 0;
    transition: var(--transition);
    width: var(--b-button);
    height: var(--b-button);
    position: relative;
}
button:hover {
    background-color: var(--hover-color);
}
button > .icon {
    width: var(--b-button);
}

input {
    outline: none;
    background-color: #0000;
    color: var(--color);
    border: none;
    border-bottom: 1px solid var(--color);
}

select {
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--bg);
    height: var(--height);
    border: none;
    outline: none;
    margin: 0px;
    color: var(--color);
    padding: 0 var(--o-padding) 0 var(--o-padding);
    transition: var(--transition);
    user-select: none;
}

select:hover {
    background-color: var(--hover-color);
}
option {
    background-color: var(--bg);
}
textarea {
    outline: none;
    background-color: #0000;
    color: var(--color);
}

[popover],
dialog {
    color: var(--color);
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    border: 1px solid var(--color);
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
}
[popover] {
    border: 1px solid var(--color);
}

body::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    overflow: hidden;
}

:is(div, button):has(> .icon) {
    height: var(--size0);
    width: var(--size0);
    position: relative;
}
:is(div, button) > .icon {
    height: var(--size0);
    width: var(--size0);
}

.top_bar {
    background: var(--bg);
    display: flex;
    height: 3rem;
    & > .title {
        font-size: 2rem;
        flex-grow: 1;
    }
    & > .view_popover {
        margin: 0;
        right: 32px;
        top: 32px;
        left: auto;
    }
}

.day {
    width: 40px;
    height: 40px;
    text-align: center;
}

.cal {
    background: var(--bg);
}
.cal > div {
    display: flex;
    flex-wrap: wrap;
}

.day_view {
    justify-content: space-around;
    & > div {
        display: flex;
    }
}

.month_view {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 4px;
    & > div {
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        & > :nth-child(2) {
            font-size: 0.6em;
            line-height: 1em;
        }
    }
    & .calendar_today {
        border: var(--color) solid 1px;
        background: var(--color);
        color: var(--bg);
    }
    & .calendar_select {
        border: var(--color) solid 1px;
    }
}
.year_view {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: calc(100dvh - 3rem);
    overflow-y: scroll;
    & > div > div {
        gap: 0;
        & > div {
            font-size: min(16px, (100dvw - 16px * 3) / 21 / 1.8);
        }
    }
    & .day {
        width: min(40px, (100dvw - 16px * 3) / 21);
        height: min(40px, (100dvw - 16px * 3) / 21);
        display: flex;
        justify-content: center;
    }
}
::view-transition-group(*) {
    animation-duration: 0.5s;
}

.timeline {
    background: var(--bg);
    overflow-y: scroll;
    display: flex;
    view-transition-name: timeline;
}
.timeline > .timeline_text {
    display: flex;
    flex-direction: column;

    & > div {
        box-sizing: border-box;
        min-height: 64px;
        & > span {
            position: relative;
            top: -0.4em;
        }
    }
}
.timeline > .timeline_main {
    display: flex;
    flex-grow: 1;
    & > div {
        width: 100%;
        height: max-content;
        position: relative;
    }

    & > div > .event {
        position: absolute;
        padding: 4px;
        transition: var(--transition);
        border: none;
        & > div {
            height: 100%;
            background: color-mix(in srgb, var(--color) 10%, transparent);
            border-radius: 4px;
            box-sizing: border-box;
            padding: 4px;
        }
        &:hover {
            padding: 0;
        }
    }
    & > div > .pointer {
        position: absolute;
        height: 1px;
        border: solid 1px red;
    }
    & > div > div {
        box-sizing: border-box;
        height: 64px;
        width: 100%;
        border: solid 1px color-mix(in srgb, var(--color) 10%, transparent);
    }
}

.button_bar {
    position: fixed;
    right: 16px;
    bottom: 16px;
    view-transition-name: bar;
}

.add {
    & > textarea {
        border: none;
        width: 300px;
        resize: vertical;
    }
}

.todo_dialog {
    & > div > div {
        display: flex;
        user-select: none;
        align-items: center;
        & > :first-child {
            flex-grow: 1;
        }
        & > label {
            & > input {
                display: none;
            }
            &:not(:has(input:checked)) > .icon {
                opacity: 0;
            }
            & > .icon {
                width: 16px;
                height: 16px;
            }
            display: block;
            position: relative;
            min-width: 16px;
            height: 16px;
        }
    }
}
